*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: linear-gradient(0deg, rgba(9,24,128,1) 0%, rgba(13,9,1,1) 100%);
        color: white;
    }
    .wrapper{
        width: 80%;
        margin: 0 auto;
        min-height: 100vh;
    }
    
    .search-wrapper {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: 2rem 0;
        
    }

    input[type='search'] {
        font-size: 1rem;
        border: 1px solid lightgrey;
        padding: 1rem;
        border-radius: 5px;
        outline: none;
    
    }
    .user-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: .5rem;
        margin-top: 1rem;
        
    }
    .card {
        border: 2px solid lightgray;
        background-color: white;
        padding: 1.5rem;
        border-radius: 2px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }

    .card > .header {
        margin-bottom: .5rem;
        color: black;
        font-weight: bold;
    }
    
    .card > .body{
        font-size: .8rem;
        color: #777;
    }
    .hide{
        display: none;
    }

.hide {
  display: none;
}
